@tailwind base;
@tailwind components;
@tailwind utilities;

/*Global default CSS scheme - pretty way to do it.*/
@layer base {
  body{
    @apply bg-smoky-white;
  }
  h1 {
    @apply text-smoky-black lg:text-5xl xs:text-4xl font-extrabold leading-10;
  }
  h2 {
    @apply text-smoky-black text-lg;
  }
  p{
    @apply text-smoky-black;
  }
  li{
    @apply text-smoky-black text-lg;
  }
  button{
    @apply bg-atera-pink hover:bg-atera-pink-dark text-white rounded cursor-pointer
  }
}

/* START:pure css for typewriter cursor*/
#typewriter::after {
  content: '|';
  margin-left: 5px;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
/* END:pure css for typewriter cursor*/
